/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
@tailwind screens;

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

.small-title {
  @apply text-sm font-title font-semibold text-gray-500 tracking-wider uppercase my-2;
}

/* .separator {
  @apply border-t border-gray-200 dark: border-gray-600;
} */
