/* code syntax highlighting */
/* dark is default: */
pre {
  --base00: #011627; /* editor background */
  --base01: #2d2d2d; /* unused (currently) */
  --base02: #424242; /* unused (currently) */
  --base03: #637777; /* code comments */
  --base04: #555555; /* unused (currently) */
  --base05: #d6deeb; /* fallback font color */
  --base06: #c8c8c8; /* unused (currently) */
  --base07: #fafafa; /* unused (currently) */
  --base08: #d7dbe0; /* variable references */
  --base09: #f78c6c; /* numbers */
  --base0A: #c792ea; /* keywords */
  --base0B: #ecc48d; /* strings */
  --base0C: #f78c6c; /* escape characters in strings */
  --base0D: #82aaff; /* function calls */
  --base0E: #c792ea; /* operators */
  --base0F: #d3423e; /* "Embedded" (whatever that means) */
}

.light pre {
  --base00: #f3f3f3; /* editor background */
  --base01: #e0e0e0; /* unused (currently) */
  --base02: #d6d6d6; /* unused (currently) */
  --base03: #989fb1; /* code comments */
  --base04: #969896; /* unused (currently) */
  --base05: #2e3039; /* fallback font color */
  --base06: #282a2e; /* unused (currently) */
  --base07: #1d1f21; /* unused (currently) */
  --base08: #403f53; /* variable references */
  --base09: #aa0982; /* numbers */
  --base0A: #994cc3; /* keywords */
  --base0B: #c96765; /* strings */
  --base0C: #aa0982; /* escape characters in strings */
  --base0D: #4876d6; /* function calls */
  --base0E: #994cc3; /* operators */
  --base0F: #d3423e; /* "Embedded" (whatever that means) */
}

/*
* This un-sets some styles in tailwind/typography for when I really don't want
* list items to display like list items. (Like for the list of translations)
*/
.prose ul.list-none > li {
  padding-left: unset;
}
.prose ul.list-none > li::before {
  content: unset;
}

.dark .prose ol > li::before,
.dark .prose ul > li::before {
  color: var(--color-gray-300);
}

/* I think this is a bug in the tailwind/typography thing */
.dark .dark\:prose-dark thead {
  color: var(--color-blueGray-500);
}

.prose pre[data-line-numbers='true']:not([data-lang='sh']) {
  padding-left: 0rem;
  padding-right: 0rem;
}

.prose
  pre[data-line-numbers='true']:not([data-lang='sh'])
  [data-line-number]:before {
  padding-left: 0rem;
  content: attr(data-line-number);
  text-align: right;
  display: inline-block;
  width: 3.5rem;
  color: var(--base03);
  padding-right: 1.5rem;
  position: sticky;
  left: 0;
  background-color: var(--base00);
}

.prose
  pre[data-line-numbers='true']:not([data-lang='sh'])
  [data-line-number]:before
  .codeblock-line[data-highlight='true']:before {
  background: var(--base0E);
}

.prose pre[data-add]:not([data-lang='sh']) [data-diff-line-number]:before,
.prose pre[data-remove]:not([data-lang='sh']) [data-diff-line-number]:before {
  content: attr(data-diff-line-number);
}

.prose pre > code {
  display: inline-block;
  min-width: 100%;
}

.codeblock-line {
  display: block;
  position: relative;
  padding-right: 1rem;
}

.codeblock-line[data-highlight='true']:after,
.prose pre[data-remove] .codeblock-line[data-remove='true']:after,
.prose pre[data-add] .codeblock-line[data-add='true']:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.15;
  pointer-events: none;
}

.codeblock-line[data-highlight='true']:before {
  border-left: 6px solid var(--base0E);
}

.codeblock-line[data-highlight='true']:after {
  background: var(--base0E);
}

.prose pre[data-remove] .codeblock-line[data-remove='true']:before {
  content: '-';
}

.prose pre[data-remove] .codeblock-line[data-remove='true']:after {
  background: var(--color-red-500);
}

.prose pre[data-add] .codeblock-line[data-add='true']:before {
  content: '+';
}

.prose pre[data-add] .codeblock-line[data-add='true']:after {
  background: var(--color-green-500);
}

.prose pre {
  position: relative;
}

.prose pre[data-filename]:before {
  content: attr(data-filename);
  position: absolute;
  left: 8px;
  top: 4px;
  font-size: 0.7rem;
  opacity: 0.7;
}

.prose pre[data-lang]:after {
  content: attr(data-lang);
  position: sticky;
  right: 0;
  font-size: 0.7rem;
  opacity: 0.7;
  display: inline-block;
  transform: translate(-16px, 24px);
  text-align: right;
  width: 200px;
  margin-left: -200px;
}

.prose callout-muted a,
.prose callout-info a,
.prose callout-warning a,
.prose callout-danger a,
.prose callout-success a {
  text-decoration: underline;
}

.prose callout-muted p,
.prose callout-info p,
.prose callout-warning p,
.prose callout-danger p,
.prose callout-success p {
  margin-bottom: 0;
}

.prose callout-muted,
.prose callout-info,
.prose callout-warning,
.prose callout-danger,
.prose callout-success {
  margin-top: 0;
  margin-bottom: 2rem;
}

.prose callout-muted,
.prose callout-info,
.prose callout-warning,
.prose callout-danger,
.prose callout-success {
  display: block;
  border-left: solid 4px;
  padding: 0.5rem 1rem;
  position: relative;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.prose callout-muted,
.prose callout-info,
.prose callout-warning,
.prose callout-danger,
.prose callout-success,
.prose callout-muted *,
.prose callout-info *,
.prose callout-warning *,
.prose callout-danger *,
.prose callout-success * {
  font-size: 1.2rem;
}

.prose callout-muted.aside,
.prose callout-info.aside,
.prose callout-warning.aside,
.prose callout-danger.aside,
.prose callout-success.aside,
.prose callout-muted.aside *,
.prose callout-info.aside *,
.prose callout-warning.aside *,
.prose callout-danger.aside *,
.prose callout-success.aside * {
  font-size: 0.875rem;
}

.prose callout-muted.important,
.prose callout-info.important,
.prose callout-warning.important,
.prose callout-danger.important,
.prose callout-success.important,
.prose callout-muted.important *,
.prose callout-info.important *,
.prose callout-warning.important *,
.prose callout-danger.important *,
.prose callout-success.important * {
  font-size: 1.4rem;
  font-weight: bold;
}

.prose callout-muted:before,
.prose callout-info:before,
.prose callout-warning:before,
.prose callout-danger:before,
.prose callout-success:before {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.1;
  pointer-events: none;
}

/* the warning yellow is really inaccessible in light mode, so we have a special case for light mode */
.light .prose callout-warning,
.light .prose callout-warning ol > li:before {
  color: #676000;
}
.light .prose callout-warning:before {
  background: #ffd800;
}
.prose callout-warning,
.prose callout-warning ol > li:before {
  color: #ffd644;
}
.prose callout-warning:before {
  background: #ffd644;
}

/* the muted gray is really inaccessible in light mode, so we have a special case for light mode */
.light .prose callout-muted,
.light .prose callout-muted ol > li:before {
  color: #4c4b5e;
}
.light .prose callout-muted:before {
  background: #3c3e4d;
}

.prose callout-muted,
.prose callout-muted ol > li:before {
  color: #b9b9c3;
}
.prose callout-muted:before {
  background: #3c3e4d;
}

.prose callout-info,
.prose callout-info ol > li:before {
  color: #4b96ff;
}
.prose callout-info:before {
  background: #4b96ff;
}

.prose callout-danger,
.prose callout-danger ol > li:before {
  color: #ff4545;
}
.prose callout-danger:before {
  background: #ff4545;
}

.prose callout-success,
.prose callout-success ol > li:before {
  color: #30c85e;
}
.prose callout-success:before {
  background: #30c85e;
}

/* The twitter embed HTML is custom-generated in our utils/twitter.server.ts */
.prose .tweet-embed {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
  margin: 0 auto 2.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background: var(--bg-secondary);
}

.dark .prose .tweet-embed {
  border: 1px solid var(--border-secondary);
}

.prose .tweet-embed blockquote {
  font-size: 1.125rem;
  margin: 1rem 0;
  white-space: break-spaces;
  padding: 0;
  border: 0;
  font-style: normal;
  background-color: unset;
}

.prose .tweet-embed blockquote a {
  font-weight: normal;
}

.prose .tweet-embed .tweet-author {
  font-size: 1rem;
  display: flex;
  text-decoration: none;
  align-items: center;
}

.prose .tweet-embed .tweet-author img {
  float: left;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: 1rem;
  margin-bottom: 0px;
}

.prose .tweet-embed .tweet-author div {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.prose .tweet-embed .tweet-author:hover .tweet-author-name,
.prose .tweet-embed .tweet-author:focus .tweet-author-name {
  text-decoration: underline;
}

.prose .tweet-embed .tweet-author .tweet-author-handle {
  font-weight: normal;
  color: var(--text-secondary);
}

.prose .tweet-embed .tweet-media-container {
  width: 100%;
  overflow: hidden;
  border-radius: 0.75rem;
  border: 1px solid var(--border-secondary);
  margin-bottom: 1rem;
}
.prose .tweet-embed .tweet-media-grid,
.prose .tweet-embed .tweet-media-container {
  max-height: 366px;
}
.prose .tweet-embed .tweet-media-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 0.25rem;
}

.prose .tweet-embed .tweet-media-grid[data-count='2'],
.prose .tweet-embed .tweet-media-grid[data-count='3'],
.prose .tweet-embed .tweet-media-grid[data-count='4'] {
  grid-template-columns: repeat(2, 1fr);
}

.prose .tweet-embed .tweet-media-grid[data-count='3'] img:first-child {
  grid-column: span 2 / span 2;
}

.prose .tweet-embed .tweet-media-container img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.prose .tweet-embed .tweet-media-container .tweet-media-with-play-button {
  position: relative;
}
.prose
  .tweet-embed
  .tweet-media-container
  .tweet-media-with-play-button
  .tweet-media-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
  transition: opacity 0.2s;
}

.prose
  .tweet-embed
  .tweet-media-container:hover
  .tweet-media-with-play-button
  .tweet-media-play-button,
.prose
  .tweet-embed
  .tweet-media-container:focus
  .tweet-media-with-play-button
  .tweet-media-play-button {
  opacity: 1;
}

.prose .tweet-embed .tweet-quoted {
  margin-bottom: 1rem;
}

.prose .tweet-embed .tweet-quoted .tweet-media-container {
  max-height: 160px;
}
.prose .tweet-embed .tweet-quoted .tweet-media-grid {
  margin-top: -40px;
  max-height: unset;
}

.prose .tweet-embed .tweet-quoted .tweet-embed {
  margin: 0;
  padding: 1rem 1rem 0 1rem;
}

.prose .tweet-embed .tweet-quoted .tweet-embed .tweet-stats,
.prose .tweet-embed .tweet-quoted .tweet-embed .tweet-time {
  display: none;
}

.prose .tweet-embed .tweet-ref-metadata {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border-secondary);
  margin-bottom: 1rem;
  border-radius: 0.75rem;
}

.prose .tweet-embed .tweet-ref-metadata .tweet-ref-metadata-title {
  padding: 0.75rem 0.75rem 0 0.75rem;
  font-size: 0.85rem;
}
.prose .tweet-embed .tweet-ref-metadata .tweet-ref-metadata-description {
  padding: 0 12px 4px 12px;
  font-size: 0.85rem;
  font-weight: normal;
  color: var(--text-secondary);
}

.prose .tweet-embed .tweet-ref-metadata .tweet-ref-metadata-image {
  border-radius: 0.75rem 0.75rem 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.prose .tweet-embed .tweet-ref-metadata .tweet-ref-metadata-domain {
  padding: 0 12px 4px 12px;
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
}

.prose .tweet-embed .tweet-ref-metadata .tweet-ref-metadata-domain svg {
  margin-right: 12px;
}

.prose .tweet-embed .tweet-ref-metadata:hover,
.prose .tweet-embed .tweet-ref-metadata:focus {
  text-decoration: none;
  background-color: var(--bg-alt);
}

.dark .prose .tweet-embed .tweet-ref-metadata {
  border: 1px solid var(--border-secondary);
}

.prose .tweet-embed .tweet-ref-metadata img {
  max-height: 300px;
}

.prose .tweet-embed .tweet-time {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-secondary);
}

.prose .tweet-embed .tweet-time a {
  color: var(--text-secondary);
  font-size: 0.85rem;
  font-weight: normal;
  text-decoration: none;
}

.prose .tweet-embed .tweet-time a:hover,
.prose .tweet-embed .tweet-time a:focus {
  text-decoration: underline;
  color: var(--text-primary);
}

.prose .tweet-embed .tweet-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.prose .tweet-embed .tweet-stats svg {
  height: 18px;
  width: 18px;
  z-index: 1;
  fill: none;
}

.prose .tweet-embed .tweet-stats a {
  display: flex;
  font-size: 0.85rem;
  font-weight: normal;
  align-items: center;
  color: inherit;
  text-decoration: none;
  position: relative;
  transition: color 0.2s linear;
}

.prose .tweet-embed .tweet-stats a:before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  left: -9px;
  z-index: 0;
  transition: background-color 0.1s linear, transform 0.1s linear;
  transform: scale(0.5);
}

.prose .tweet-embed .tweet-stats a:hover:before,
.prose .tweet-embed .tweet-stats a:focus:before {
  transform: scale(1);
}

.prose .tweet-embed .tweet-stats a span {
  margin: 0 0.75rem;
  z-index: 1;
}

.prose .tweet-embed .tweet-stats a.tweet-like:hover,
.prose .tweet-embed .tweet-stats a.tweet-like:focus {
  color: rgba(224, 36, 94, 1);
}

.prose .tweet-embed .tweet-stats a.tweet-reply:hover,
.prose .tweet-embed .tweet-stats a.tweet-reply:focus {
  color: rgba(29, 161, 242, 1);
}

.prose .tweet-embed .tweet-stats a.tweet-retweet:hover,
.prose .tweet-embed .tweet-stats a.tweet-retweet:focus {
  color: rgba(25, 207, 134, 1);
}

.prose .tweet-embed .tweet-stats a.tweet-link:hover,
.prose .tweet-embed .tweet-stats a.tweet-link:focus {
  color: rgba(29, 161, 242, 1);
}

.prose .tweet-embed .tweet-stats a.tweet-like:hover:before,
.prose .tweet-embed .tweet-stats a.tweet-like:focus:before {
  background-color: rgba(224, 36, 94, 0.1);
}

.prose .tweet-embed .tweet-stats a.tweet-reply:hover:before,
.prose .tweet-embed .tweet-stats a.tweet-reply:focus:before {
  background-color: rgba(29, 161, 242, 0.1);
}

.prose .tweet-embed .tweet-stats a.tweet-retweet:hover:before,
.prose .tweet-embed .tweet-stats a.tweet-retweet:focus:before {
  background-color: rgba(25, 207, 134, 0.1);
}

.prose .tweet-embed .tweet-stats a.tweet-link:hover:before,
.prose .tweet-embed .tweet-stats a.tweet-link:focus:before {
  background-color: rgba(29, 161, 242, 0.1);
}

.prose .tweet-embed .tweet-ref-metadata-domain svg path,
.prose .tweet-embed .tweet-stats a:not(.tweet-link) svg path {
  fill: currentColor;
}

/* Some of our blog posts have inline demos that could use some nicer styling */
/* IDEA: In the future, it would be nice for those blog posts to have a css file that the post could reference as a link */
.prose .demo {
  display: flex;
  justify-content: center;
  background-color: var(--bg-alt);
  padding: 2rem;
}
.prose .demo button,
.prose .demo input {
  padding: revert;
  margin: revert;
  display: revert;
  border: revert;
  background: revert;
  appearance: revert;
  line-height: revert;
  color: revert;
}




















@media (min-width: 640px) {
  .sm\:prose {
      color:var(--tw-prose-body);
      max-width: 65ch
  }

  .sm\:prose :where([class~=lead]):not(:where([class~=not-prose] *)) {
      color: var(--tw-prose-lead);
      font-size: 1.25em;
      line-height: 1.6;
      margin-top: 1.2em;
      margin-bottom: 1.2em
  }

  .sm\:prose :where(a):not(:where([class~=not-prose] *)) {
      color: var(--tw-prose-links);
      text-decoration: underline;
      font-weight: 500
  }

  .sm\:prose :where(strong):not(:where([class~=not-prose] *)) {
      color: var(--tw-prose-bold);
      font-weight: 600
  }

  .sm\:prose :where(ol):not(:where([class~=not-prose] *)) {
      list-style-type: decimal;
      padding-left: 1.625em
  }

  .sm\:prose :where(ol[type=A]):not(:where([class~=not-prose] *)) {
      list-style-type: upper-alpha
  }

  .sm\:prose :where(ol[type=a]):not(:where([class~=not-prose] *)) {
      list-style-type: lower-alpha
  }

  .sm\:prose :where(ol[type=A s]):not(:where([class~=not-prose] *)) {
      list-style-type: upper-alpha
  }

  .sm\:prose :where(ol[type=a s]):not(:where([class~=not-prose] *)) {
      list-style-type: lower-alpha
  }

  .sm\:prose :where(ol[type=I]):not(:where([class~=not-prose] *)) {
      list-style-type: upper-roman
  }

  .sm\:prose :where(ol[type=i]):not(:where([class~=not-prose] *)) {
      list-style-type: lower-roman
  }

  .sm\:prose :where(ol[type=I s]):not(:where([class~=not-prose] *)) {
      list-style-type: upper-roman
  }

  .sm\:prose :where(ol[type=i s]):not(:where([class~=not-prose] *)) {
      list-style-type: lower-roman
  }

  .sm\:prose :where(ol[type="1"]):not(:where([class~=not-prose] *)) {
      list-style-type: decimal
  }

  .sm\:prose :where(ul):not(:where([class~=not-prose] *)) {
      list-style-type: disc;
      padding-left: 1.625em
  }

  .sm\:prose :where(ol>li):not(:where([class~=not-prose] *))::marker {
      font-weight: 400;
      color: var(--tw-prose-counters)
  }

  .sm\:prose :where(ul>li):not(:where([class~=not-prose] *))::marker {
      color: var(--tw-prose-bullets)
  }

  .sm\:prose :where(hr):not(:where([class~=not-prose] *)) {
      border-color: var(--tw-prose-hr);
      border-top-width: 1px;
      margin-top: 3em;
      margin-bottom: 3em
  }

  .sm\:prose :where(blockquote):not(:where([class~=not-prose] *)) {
      font-weight: 500;
      font-style: italic;
      color: var(--tw-prose-quotes);
      border-left-width: .25rem;
      border-left-color: var(--tw-prose-quote-borders);
      quotes: "\201C""\201D""\2018""\2019";
      margin-top: 1.6em;
      margin-bottom: 1.6em;
      padding-left: 1em
  }

  .sm\:prose :where(blockquote p:first-of-type):not(:where([class~=not-prose] *)):before {
      content: open-quote
  }

  .sm\:prose :where(blockquote p:last-of-type):not(:where([class~=not-prose] *)):after {
      content: close-quote
  }

  .sm\:prose :where(h1):not(:where([class~=not-prose] *)) {
      color: var(--tw-prose-headings);
      font-weight: 800;
      font-size: 2.25em;
      margin-top: 0;
      margin-bottom: .8888889em;
      line-height: 1.1111111
  }

  .sm\:prose :where(h1 strong):not(:where([class~=not-prose] *)) {
      font-weight: 900
  }

  .sm\:prose :where(h2):not(:where([class~=not-prose] *)) {
      color: var(--tw-prose-headings);
      font-weight: 700;
      font-size: 1.5em;
      margin-top: 2em;
      margin-bottom: 1em;
      line-height: 1.3333333
  }

  .sm\:prose :where(h2 strong):not(:where([class~=not-prose] *)) {
      font-weight: 800
  }

  .sm\:prose :where(h3):not(:where([class~=not-prose] *)) {
      color: var(--tw-prose-headings);
      font-weight: 600;
      font-size: 1.25em;
      margin-top: 1.6em;
      margin-bottom: .6em;
      line-height: 1.6
  }

  .sm\:prose :where(h3 strong):not(:where([class~=not-prose] *)) {
      font-weight: 700
  }

  .sm\:prose :where(h4):not(:where([class~=not-prose] *)) {
      color: var(--tw-prose-headings);
      font-weight: 600;
      margin-top: 1.5em;
      margin-bottom: .5em;
      line-height: 1.5
  }

  .sm\:prose :where(h4 strong):not(:where([class~=not-prose] *)) {
      font-weight: 700
  }

  .sm\:prose :where(figure>*):not(:where([class~=not-prose] *)) {
      margin-top: 0;
      margin-bottom: 0
  }

  .sm\:prose :where(figcaption):not(:where([class~=not-prose] *)) {
      color: var(--tw-prose-captions);
      font-size: .875em;
      line-height: 1.4285714;
      margin-top: .8571429em
  }

  .sm\:prose :where(code):not(:where([class~=not-prose] *)) {
      color: var(--tw-prose-code);
      font-weight: 500;
      font-size: ;
      padding-inline:2px}

  .sm\:prose :where(code):not(:where([class~=not-prose] *)):before {
      content:
  }

  .sm\:prose :where(code):not(:where([class~=not-prose] *)):after {
      content:
  }

  .sm\:prose :where(a code):not(:where([class~=not-prose] *)) {
      color: var(--tw-prose-links)
  }

  .sm\:prose :where(pre):not(:where([class~=not-prose] *)) {
      color: #27272a;
      background-color: #f3f4f6;
      overflow-x: auto;
      font-weight: 400;
      font-size: .875em;
      line-height: 1.7142857;
      margin-top: 1.7142857em;
      margin-bottom: 1.7142857em;
      border-radius: .375rem;
      padding: .8571429em 1.1428571em
  }

  .sm\:prose :where(pre code):not(:where([class~=not-prose] *)) {
      background-color: transparent;
      border-width: 0;
      border-radius: 0;
      padding: 0;
      font-weight: inherit;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      line-height: inherit
  }

  .sm\:prose :where(pre code):not(:where([class~=not-prose] *)):before {
      content: none
  }

  .sm\:prose :where(pre code):not(:where([class~=not-prose] *)):after {
      content: none
  }

  .sm\:prose :where(table):not(:where([class~=not-prose] *)) {
      width: 100%;
      table-layout: auto;
      text-align: left;
      margin-top: 2em;
      margin-bottom: 2em;
      font-size: .875em;
      line-height: 1.7142857
  }

  .sm\:prose :where(thead):not(:where([class~=not-prose] *)) {
      border-bottom-width: 1px;
      border-bottom-color: var(--tw-prose-th-borders)
  }

  .sm\:prose :where(thead th):not(:where([class~=not-prose] *)) {
      color: var(--tw-prose-headings);
      font-weight: 600;
      vertical-align: bottom;
      padding-right: .5714286em;
      padding-bottom: .5714286em;
      padding-left: .5714286em
  }

  .sm\:prose :where(tbody tr):not(:where([class~=not-prose] *)) {
      border-bottom-width: 1px;
      border-bottom-color: var(--tw-prose-td-borders)
  }

  .sm\:prose :where(tbody tr:last-child):not(:where([class~=not-prose] *)) {
      border-bottom-width: 0
  }

  .sm\:prose :where(tbody td):not(:where([class~=not-prose] *)) {
      vertical-align: baseline;
      padding: .5714286em
  }

  .sm\:prose {
      --tw-prose-body: #374151;
      --tw-prose-headings: #111827;
      --tw-prose-lead: #4b5563;
      --tw-prose-links: #111827;
      --tw-prose-bold: #111827;
      --tw-prose-counters: #6b7280;
      --tw-prose-bullets: #d1d5db;
      --tw-prose-hr: #e5e7eb;
      --tw-prose-quotes: #111827;
      --tw-prose-quote-borders: #e5e7eb;
      --tw-prose-captions: #6b7280;
      --tw-prose-code: #111827;
      --tw-prose-pre-code: #e5e7eb;
      --tw-prose-pre-bg: #1f2937;
      --tw-prose-th-borders: #d1d5db;
      --tw-prose-td-borders: #e5e7eb;
      --tw-prose-invert-body: #d1d5db;
      --tw-prose-invert-headings: #fff;
      --tw-prose-invert-lead: #9ca3af;
      --tw-prose-invert-links: #fff;
      --tw-prose-invert-bold: #fff;
      --tw-prose-invert-counters: #9ca3af;
      --tw-prose-invert-bullets: #4b5563;
      --tw-prose-invert-hr: #374151;
      --tw-prose-invert-quotes: #f3f4f6;
      --tw-prose-invert-quote-borders: #374151;
      --tw-prose-invert-captions: #9ca3af;
      --tw-prose-invert-code: #fff;
      --tw-prose-invert-pre-code: #d1d5db;
      --tw-prose-invert-pre-bg: rgb(0 0 0/50%);
      --tw-prose-invert-th-borders: #4b5563;
      --tw-prose-invert-td-borders: #374151;
      font-size: 1rem;
      line-height: 1.75
  }

  .sm\:prose :where(p):not(:where([class~=not-prose] *)) {
      margin-top: 1.25em;
      margin-bottom: 1.25em
  }

  .sm\:prose :where(img):not(:where([class~=not-prose] *)) {
      margin-top: 2em;
      margin-bottom: 2em
  }

  .sm\:prose :where(video):not(:where([class~=not-prose] *)) {
      margin-top: 2em;
      margin-bottom: 2em
  }

  .sm\:prose :where(figure):not(:where([class~=not-prose] *)) {
      margin-top: 2em;
      margin-bottom: 2em
  }

  .sm\:prose :where(h2 code):not(:where([class~=not-prose] *)) {
      font-size: .875em
  }

  .sm\:prose :where(h3 code):not(:where([class~=not-prose] *)) {
      font-size: .9em
  }

  .sm\:prose :where(li):not(:where([class~=not-prose] *)) {
      margin-top: .5em;
      margin-bottom: .5em
  }

  .sm\:prose :where(ol>li):not(:where([class~=not-prose] *)) {
      padding-left: .375em
  }

  .sm\:prose :where(ul>li):not(:where([class~=not-prose] *)) {
      padding-left: .375em
  }

  .sm\:prose>:where(ul>li p):not(:where([class~=not-prose] *)) {
      margin-top: .75em;
      margin-bottom: .75em
  }

  .sm\:prose>:where(ul>li>:first-child):not(:where([class~=not-prose] *)) {
      margin-top: 1.25em
  }

  .sm\:prose>:where(ul>li>:last-child):not(:where([class~=not-prose] *)) {
      margin-bottom: 1.25em
  }

  .sm\:prose>:where(ol>li>:first-child):not(:where([class~=not-prose] *)) {
      margin-top: 1.25em
  }

  .sm\:prose>:where(ol>li>:last-child):not(:where([class~=not-prose] *)) {
      margin-bottom: 1.25em
  }

  .sm\:prose :where(ul ul,ul ol,ol ul,ol ol):not(:where([class~=not-prose] *)) {
      margin-top: .75em;
      margin-bottom: .75em
  }

  .sm\:prose :where(hr+*):not(:where([class~=not-prose] *)) {
      margin-top: 0
  }

  .sm\:prose :where(h2+*):not(:where([class~=not-prose] *)) {
      margin-top: 0
  }

  .sm\:prose :where(h3+*):not(:where([class~=not-prose] *)) {
      margin-top: 0
  }

  .sm\:prose :where(h4+*):not(:where([class~=not-prose] *)) {
      margin-top: 0
  }

  .sm\:prose :where(thead th:first-child):not(:where([class~=not-prose] *)) {
      padding-left: 0
  }

  .sm\:prose :where(thead th:last-child):not(:where([class~=not-prose] *)) {
      padding-right: 0
  }

  .sm\:prose :where(tbody td:first-child):not(:where([class~=not-prose] *)) {
      padding-left: 0
  }

  .sm\:prose :where(tbody td:last-child):not(:where([class~=not-prose] *)) {
      padding-right: 0
  }

  .sm\:prose>:where(:first-child):not(:where([class~=not-prose] *)) {
      margin-top: 0
  }

  .sm\:prose>:where(:last-child):not(:where([class~=not-prose] *)) {
      margin-bottom: 0
  }

  .sm\:absolute {
      position: absolute
  }

  .sm\:top-10 {
      top: 2.5rem
  }

  .sm\:right-3 {
      right: .75rem
  }

  .sm\:bottom-8 {
      bottom: 2rem
  }

  .sm\:float-right {
      float: right
  }

  .sm\:float-none {
      float: none
  }

  .sm\:\!my-0 {
      margin-top: 0!important;
      margin-bottom: 0!important
  }

  .sm\:my-9 {
      margin-top: 2.25rem;
      margin-bottom: 2.25rem
  }

  .sm\:mx-6 {
      margin-left: 1.5rem;
      margin-right: 1.5rem
  }

  .sm\:ml-4 {
      margin-left: 1rem
  }

  .sm\:ml-0 {
      margin-left: 0
  }

  .sm\:mt-1 {
      margin-top: .25rem
  }

  .sm\:mt-6 {
      margin-top: 1.5rem
  }

  .sm\:mt-10 {
      margin-top: 2.5rem
  }

  .sm\:mb-0 {
      margin-bottom: 0
  }

  .sm\:mr-6 {
      margin-right: 1.5rem
  }

  .sm\:mt-\[-3px\] {
      margin-top: -3px
  }

  .sm\:\!mt-4 {
      margin-top: 1rem!important
  }

  .sm\:mb-2 {
      margin-bottom: .5rem
  }

  .sm\:mt-4 {
      margin-top: 1rem
  }

  .sm\:mt-0 {
      margin-top: 0
  }

  .sm\:ml-3 {
      margin-left: .75rem
  }

  .sm\:mr-3 {
      margin-right: .75rem
  }

  .sm\:mt-16 {
      margin-top: 4rem
  }

  .sm\:block {
      display: block
  }

  .sm\:inline-block {
      display: inline-block
  }

  .sm\:inline {
      display: inline
  }

  .sm\:flex {
      display: flex
  }

  .sm\:hidden {
      display: none
  }

  .sm\:h-\[3\.1em\] {
      height: 3.1em
  }

  .sm\:w-1\/2 {
      width: 50%
  }

  .sm\:w-48 {
      width: 12rem
  }

  .sm\:w-60 {
      width: 15rem
  }

  .sm\:w-full {
      width: 100%
  }

  .sm\:w-auto {
      width: auto
  }

  .sm\:w-2\/3 {
      width: 66.666667%
  }

  .sm\:max-w-xl {
      max-width: 36rem
  }

  .sm\:max-w-lg {
      max-width: 32rem
  }

  .sm\:\!translate-y-\[-14\%\] {
      --tw-translate-y: -14%!important;
      transform: var(--tw-transform)!important
  }

  .sm\:scale-75 {
      --tw-scale-x: .75;
      --tw-scale-y: .75;
      transform: var(--tw-transform)
  }

  .sm\:flex-row {
      flex-direction: row
  }

  .sm\:items-end {
      align-items: flex-end
  }

  .sm\:gap-6 {
      gap: 1.5rem
  }

  .sm\:py-16 {
      padding-top: 4rem;
      padding-bottom: 4rem
  }

  .sm\:py-3 {
      padding-top: .75rem;
      padding-bottom: .75rem
  }

  .sm\:px-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem
  }

  .sm\:px-7 {
      padding-left: 1.75rem;
      padding-right: 1.75rem
  }

  .sm\:px-8 {
      padding-left: 2rem;
      padding-right: 2rem
  }

  .sm\:pt-60 {
      padding-top: 15rem
  }

  .sm\:pb-36 {
      padding-bottom: 9rem
  }

  .sm\:pb-8 {
      padding-bottom: 2rem
  }

  .sm\:pb-12 {
      padding-bottom: 3rem
  }

  .sm\:pt-0 {
      padding-top: 0
  }

  .sm\:pt-16 {
      padding-top: 4rem
  }

  .sm\:pt-12 {
      padding-top: 3rem
  }

  .sm\:text-left {
      text-align: left
  }

  .sm\:text-center {
      text-align: center
  }

  .sm\:text-lg {
      font-size: 1.125rem;
      line-height: 1.75rem
  }

  .sm\:\!text-2xl {
      font-size: 1.5rem!important;
      line-height: 2rem!important
  }

  .sm\:text-base {
      font-size: 1rem;
      line-height: 1.5rem
  }

  .sm\:\!text-\[90px\] {
      font-size: 90px!important
  }

  .sm\:text-7xl {
      font-size: 4.5rem;
      line-height: 1
  }

  .sm\:text-xl {
      font-size: 1.25rem;
      line-height: 1.75rem
  }

  .sm\:\!text-xl {
      font-size: 1.25rem!important;
      line-height: 1.75rem!important
  }

  .sm\:\!text-base {
      font-size: 1rem!important;
      line-height: 1.5rem!important
  }

  .sm\:\!text-lg {
      font-size: 1.125rem!important;
      line-height: 1.75rem!important
  }

  .sm\:\!text-4xl {
      font-size: 2.25rem!important;
      line-height: 2.5rem!important
  }

  .sm\:text-2xl {
      font-size: 1.5rem;
      line-height: 2rem
  }

  .sm\:text-4xl {
      font-size: 2.25rem;
      line-height: 2.5rem
  }

  .sm\:text-\[2em\] {
      font-size: 2em
  }

  .sm\:text-\[3\.4em\] {
      font-size: 3.4em
  }

  .sm\:text-\[2\.5em\] {
      font-size: 2.5em
  }

  .sm\:\!text-\[100px\] {
      font-size: 100px!important
  }

  .sm\:text-5xl {
      font-size: 3rem;
      line-height: 1
  }

  .sm\:leading-tight {
      line-height: 1.25
  }

  .sm\:\!tracking-\[-5\.5px\] {
      letter-spacing: -5.5px!important
  }

  .sm\:first\:rounded-tr-none:first-child {
      border-top-right-radius: 0
  }

  .sm\:first\:rounded-bl:first-child {
      border-bottom-left-radius: .25rem
  }

  .sm\:last\:mb-12:last-child {
      margin-bottom: 3rem
  }

  .sm\:last\:rounded-bl-none:last-child {
      border-bottom-left-radius: 0
  }

  .sm\:last\:rounded-tr:last-child {
      border-top-right-radius: .25rem
  }

  .serif .sm\:serif\:text-lg {
      font-size: 1.125rem;
      line-height: 1.75rem
  }

  .serif .sm\:serif\:text-xl {
      font-size: 1.25rem;
      line-height: 1.75rem
  }
}

@media (min-width: 768px) {
  .md\:left-0 {
      left:0
  }

  .md\:bottom-6 {
      bottom: 1.5rem
  }

  .md\:right-10 {
      right: 2.5rem
  }

  .md\:block {
      display: block
  }

  .md\:inline-block {
      display: inline-block
  }

  .md\:hidden {
      display: none
  }

  .md\:h-96 {
      height: 24rem
  }

  .md\:w-1\/2 {
      width: 50%
  }

  .md\:max-w-\[665px\] {
      max-width: 665px
  }

  .md\:\!max-w-\[65rem\] {
      max-width: 65rem!important
  }

  .md\:\!translate-y-\[-14\%\] {
      --tw-translate-y: -14%!important;
      transform: var(--tw-transform)!important
  }

  .md\:translate-x-0 {
      --tw-translate-x: 0px;
      transform: var(--tw-transform)
  }

  .md\:grid-cols-2 {
      grid-template-columns: repeat(2,minmax(0,1fr))
  }

  .md\:flex-row {
      flex-direction: row
  }

  .md\:px-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem
  }

  .md\:pt-2 {
      padding-top: .5rem
  }

  .md\:text-\[1000px\] {
      font-size: 1000px
  }

  .md\:text-\[3\.5em\] {
      font-size: 3.5em
  }
}

@media (min-width: 1024px) {
  .lg\:order-first {
      order:-9999
  }

  .lg\:order-last {
      order: 9999
  }

  .lg\:float-right {
      float: right
  }

  .lg\:float-none {
      float: none
  }

  .lg\:m-auto {
      margin: auto
  }

  .lg\:ml-8 {
      margin-left: 2rem
  }

  .lg\:mt-10 {
      margin-top: 2.5rem
  }

  .lg\:mb-8 {
      margin-bottom: 2rem
  }

  .lg\:block {
      display: block
  }

  .lg\:inline {
      display: inline
  }

  .lg\:flex {
      display: flex
  }

  .lg\:hidden {
      display: none
  }

  .lg\:w-\[40\%\] {
      width: 40%
  }

  .lg\:w-\[60\%\] {
      width: 60%
  }

  .lg\:w-\[37rem\] {
      width: 37rem
  }

  .lg\:w-\[47\%\] {
      width: 47%
  }

  .lg\:w-1\/3 {
      width: 33.333333%
  }

  .lg\:w-2\/3 {
      width: 66.666667%
  }

  .lg\:max-w-\[33rem\] {
      max-width: 33rem
  }

  .lg\:\!-translate-y-1\/4 {
      --tw-translate-y: -25%!important;
      transform: var(--tw-transform)!important
  }

  .lg\:flex-row {
      flex-direction: row
  }

  .lg\:px-0\.5 {
      padding-left: .125rem;
      padding-right: .125rem
  }

  .lg\:px-0 {
      padding-left: 0;
      padding-right: 0
  }

  .lg\:py-2 {
      padding-top: .5rem;
      padding-bottom: .5rem
  }

  .lg\:pt-14 {
      padding-top: 3.5rem
  }

  .lg\:pb-12 {
      padding-bottom: 3rem
  }

  .lg\:text-center {
      text-align: center
  }

  .lg\:text-right {
      text-align: right
  }

  .lg\:\!text-\[115px\] {
      font-size: 115px!important
  }

  .lg\:text-\[1500px\] {
      font-size: 1500px
  }

  .lg\:text-8xl {
      font-size: 6rem;
      line-height: 1
  }

  .lg\:\!text-lg {
      font-size: 1.125rem!important;
      line-height: 1.75rem!important
  }

  .lg\:text-lg {
      font-size: 1.125rem;
      line-height: 1.75rem
  }

  .lg\:text-4xl {
      font-size: 2.25rem;
      line-height: 2.5rem
  }

  .lg\:text-xl {
      font-size: 1.25rem;
      line-height: 1.75rem
  }

  .lg\:text-base {
      font-size: 1rem;
      line-height: 1.5rem
  }

  .lg\:text-6xl {
      font-size: 3.75rem;
      line-height: 1
  }

  .lg\:text-\[4em\] {
      font-size: 4em
  }

  .lg\:text-\[4\.5em\] {
      font-size: 4.5em
  }

  .lg\:text-\[3em\] {
      font-size: 3em
  }

  .lg\:\!font-extrabold {
      font-weight: 800!important
  }

  .lg\:line-clamp-1 {
      -webkit-line-clamp: 1
  }

  .lg\:line-clamp-1,.lg\:line-clamp-2 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical
  }

  .lg\:line-clamp-2 {
      -webkit-line-clamp: 2
  }
}

@media (min-width: 400px) {
  .xs\:mt-0 {
      margin-top:0
  }

  .xs\:inline-block {
      display: inline-block
  }

  .xs\:inline {
      display: inline
  }

  .xs\:inline-flex {
      display: inline-flex
  }

  .xs\:translate-y-\[-18\.5\%\] {
      --tw-translate-y: -18.5%;
      transform: var(--tw-transform)
  }

  .xs\:text-\[60px\] {
      font-size: 60px
  }

  .xs\:text-lg {
      font-size: 1.125rem;
      line-height: 1.75rem
  }
}
